########
# npm
########

node_modules/

########
# JSON
########

.eslintrc.json
package-lock.json

#########
# Other
#########

.vercel
.vs
*.log
.idea
haters/
variables.env
variables.env.now
variables.env.old.txt
